.custom-tooltip1 {
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: '#E60000';
}

.custom-tooltip2 {
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: '#fff';
}

.activity {
    background-color: #FBFBFB;
    padding: 1em;
    width: fit-content;

    &_title {
        position: absolute;
        top: 49%;
        left: 15%;
        font-size: 15px;
        font-weight: 500;
    }

    &_legend {
        color: #74798C;
        font-size: 14px;
        font-weight: 500;
    }

    .recharts-legend-wrapper {
        top: 0;
    }
}

.averageSessions {
    background: #FF0000;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin-right: 2em;
}

.performance {
    background-color: #282D30;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin-right: 2em;
}

.score {
    background-color: #282D30;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

.dashboard_charts_2_3_4 {
    display: flex;
    margin-top: 2em;
}