.custom-tooltip1 {
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: '#E60000';
}

.custom-tooltip2 {
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: '#fff';
}

.charts2 {
    background: #FF0000;
    width: fit-content;
    border-radius: 5px;
    margin-right: 2em;
}

.charts3 {
    background-color: #282D30;
    width: fit-content;
    border-radius: 5px;
}

.dashboard_charts_2_3 {
    display: flex;
    margin-top: 2em;
}