.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020203;
    padding: 1em;
    

    img {
        width: 10em;
    }

    &_nav_t {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-right: 4em;
        

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
        }
    }

    &_nav_l {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #020203;
        width: 8%;
        justify-content: space-evenly;

        &_logos {
            display: flex;
            flex-direction: column;

            img {
                width: 4em;
                margin-bottom: 1em;
            }
        }

        &_copyright {
            margin-top: 2em;

            &_text {
                color: #ffffff;
                transform: rotate(-90deg);
                font-size: 12px;
                font-weight: 500;
                width: 13em;
            }
            
        }
    }
}

    